{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <!-- WDU  -->
    <div align="center" class="download">
          <a class="change" id="download-button" href="https://github.com/WenjieDu/PyPOTS" target="_blank">
              Download PyPOTS now&nbsp;&nbsp;»
          </a>
    </div>
    <!-- WDU   -->
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
