{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>

    <!-- WDU: add the installation button -->
    <div align="center">
        <a class="responsive-button" href="https://github.com/WenjieDu/PyPOTS#-installation" target="_blank">
            Install PyPOTS right now&nbsp;&nbsp;»
        </a>
    </div>

    <div>
        <p style="margin-top: 30px; margin-bottom: 10px; font-family: 'XanhMono';">
            <a>PyPOTS users (so far we know) are from: </a>
        </p>

        <div>
            <div class="user_logo">
                <a href="https://www.ucla.edu/" target="_blank">
                    <img alt="UCLA" src="/figs/user_logos/UCLA.svg" >
                </a>
            </div>
            <div class="user_logo">
                <a href="https://www.tsinghua.edu.cn/en/" target="_blank">
                    <img alt="THU" src="/figs/user_logos/THU.svg" >
                </a>
            </div>
            <div class="user_logo">
                <a href="https://en.sjtu.edu.cn/" target="_blank">
                    <img alt="SJTU" src="/figs/user_logos/SJTU.svg" >
                </a>
            </div>
            <div class="user_logo">
                <a href="https://www.gatech.edu/" target="_blank">
                    <img alt="GaTech" src="/figs/user_logos/GeorgiaTech.svg" >
                </a>
            </div>
            <div class="user_logo">
                <a href="https://en.ustb.edu.cn/" target="_blank">
                    <img alt="USTB" src="/figs/user_logos/USTB.svg" >
                </a>
            </div>
            <div class="user_logo">
                <a href="https://ethz.ch/en.html/" target="_blank">
                    <img alt="ETH" src="/figs/user_logos/ETH.svg" >
                </a>
            </div>
            <div class="user_logo">
                <a href="https://www.turing.ac.uk/" target="_blank">
                    <img alt="" src="/figs/user_logos/AlanTuring.svg" >
                </a>
            </div>
            <div class="user_logo">
                <a href="https://www.ntnu.no/" target="_blank">
                    <img alt="NTNU" src="/figs/user_logos/NTNU.svg" >
                </a>
            </div>
            <div class="user_logo">
                <a href="https://hpi.de/" target="_blank">
                    <img alt="HPI" src="/figs/user_logos/HPI.svg" >
                </a>
            </div>
        </div>
    </div>

    <div>
        <p style="margin-top: 20px; font-weight: bold;" align="center">
<!--            You're using PyPOTS? Write your review on <a href="https://www.producthunt.com/products/pypots/reviews/new" target="_blank" style="color: #ED6C5C; text-decoration: underline; ">ProductHunt</a>!-->
            Write a review on <a href="https://www.producthunt.com/products/pypots/reviews/new" target="_blank" style="color: #ED6C5C; text-decoration: underline; ">ProductHunt</a> to let us know you're using PyPOTS!
        </p>
        <img id="img-we-are-pypots" alt="We are PyPOTS" src="/figs/PyPOTS_LinkedIn_BG_image.jpg" style="width: 720px;margin-top: 20px;">
    </div>

    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>

    <div id="producthunt_badge">
        <a href="https://www.producthunt.com/posts/pypots?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-pypots" target="_blank">
            <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=399667&theme=bright" alt="PyPOTS | Product Hunt" />
        </a>
    </div>

</article>
{{- end -}}
