{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>

    <!-- WDU: add the installation button -->
    <div align="center">
        <a class="responsive-button" href="https://github.com/WenjieDu/PyPOTS#-installation" target="_blank">
            Install PyPOTS right now&nbsp;&nbsp;»
        </a>
    </div>

    <div>
        <p style="margin-top: 30px; margin-bottom: 10px; font-family: 'XanhMono'; line-height: 105%;">
            Trusted by users of both academia and industry -
            from top universities to famous research institutes, from start-ups to Fortune-500 and tech giants
            (<a href="/users" style="text-decoration: underline; color: #FC6423" >a full list</a>):
        </p>

        <div>
            <div class="user_logo">
                <a target="_blank" href="https://www.mit.edu/" title="Massachusetts Institute of Technology">
                    <img alt="MIT" src="/figs/user_logos/MIT.svg" >
                </a>
            </div>

            <div class="user_logo">
                <a target="_blank" href="https://www.ucla.edu/" title="University of California, Los Angeles">
                    <img alt="UCLA" src="/figs/user_logos/UCLA.svg" >
                </a>
            </div>

            <div class="user_logo">
                <a target="_blank" href="https://www.tsinghua.edu.cn/en/" title="Tsinghua University">
                    <img alt="THU" src="/figs/user_logos/THU.svg" >
                </a>
            </div>

            <div class="user_logo">
                <a target="_blank" href="https://www.nyu.edu/" title="New York University">
                    <img alt="NYU" src="/figs/user_logos/NYU.svg" >
                </a>
            </div>

            <div class="user_logo">
                <a target="_blank"href="https://en.sjtu.edu.cn/" title="Shanghai Jiao Tong University">
                    <img alt="SJTU" src="/figs/user_logos/SJTU.svg" >
                </a>
            </div>

            <div class="user_logo">
                <a target="_blank" href="https://ethz.ch/en.html/" title="ETH Zürich">
                    <img alt="ETH" src="/figs/user_logos/ETH.svg" >
                </a>
            </div>

            <div class="user_logo">
                <a target="_blank" href="https://www.turing.ac.uk/" title="The Alan Turing Institute">
                    <img alt="" src="/figs/user_logos/AlanTuring.svg" >
                </a>
            </div>

            <div class="user_logo">
                <a target="_blank" href="https://www.ibm.com/" title="IBM">
                    <img alt="IBM" src="/figs/user_logos/IBM.svg" >
                </a>
            </div>

            <div class="user_logo">
                <a target="_blank" href="https://www.huawei.com/en/" title="Huawei Technologies Co., Ltd.">
                    <img alt="Huawei" src="/figs/user_logos/Huawei.svg" >
                </a>
            </div>

            <div class="user_logo">
                <a target="_blank" href="https://www.suez.com/en" title="SUEZ Group">
                    <img alt="SUEZ" src="/figs/user_logos/SUEZ.svg" >
                </a>
            </div>

        </div>
    </div>

    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>

</article>
{{- end -}}
