/*WDU: only the header on the home page applying lighter font*/
#top > main > article.home-info > header > h1 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: lighter;
}

/*WDU: headers on other pages applying normal font */
#top > main > article > header > h1 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: normal;
}


.nav {
    line-height: 60px;
}

/* increase the font size of the logo label "PyPOTS" from 24 */
#top > header > nav > div.logo > a {
    font-size: 35px;
}

#top > header > nav > div.logo > a > img {
    margin-top: 10px;
}


/* move the theme switch button right for 20px, to make it easier for operation/click */
#top > header > nav > div.logo > div.logo-switches {
    margin-left: 20px;
}

/* move the social icons on the home page down for 30px to make space for the download button */
#top > main > article.home-info > footer > div.social-icons {
    margin-top: 30px;
}

/* the style of the installation button on the home page */
a.change {
    display: inline-block;
    padding: 0 10px;
    border: 2px solid #000;
    border-radius: 2px;
    transition: all .5s ease;
    font-weight: 700;
}
a.change:hover{
    font-size: 115%;
}
.install{
   margin-top:5px;
}
#install-button{
    color:#FC6423;
    background:#fff;
    border: 2px solid #FC6423;
    opacity:0.5;
}
#install-button:hover{
  color:#fff;
  background:#FC6423;
  border: 2px solid #fff;
  opacity:1;
}