@font-face {
    font-family: "Handwriting";
    src: url("/fonts/handwriting-font.woff") format('woff');
}
@font-face {
    font-family: "XanhMono";
    src: url("/fonts/XanhMono.woff") format('woff');
}

:root {
    --base-scale: calc(100vw / 75);
    --body-font-size: max(16px, min(20px, calc(var(--base-scale) * 2)));
    /*--footer-height: 50px;*/
    /*--padding-size:max(1em, min(2em, calc(var(--base-scale) * 2)));*/
    /*--margin-size:max(0.5em, min(2em, calc(var(--base-scale) * 2)));*/
    /*--border-radius:max(1em, min(3em, calc(var(--base-scale) * 3)));*/
}

body {
    font-size: var(--body-font-size);
}

/*WDU: only the header on the home page applying lighter font*/
#top > main > article.home-info > header > h1 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: lighter;
}

/*WDU: headers on other pages applying normal font */
#top > main > article.post-single > header > h1 {
    font-size: 24px;
    line-height: 1.3;
    font-weight: normal;
    margin-top: -10px;
}

#top > main > article > header > div.post-description {
    font-size: 14px;
    line-height: 1.2;
    font-weight: lighter;
}

.nav {
    line-height: 60px;
}

/* increase the font style of the header "PyPOTS", size from 24 */
#top > header > nav > div.logo > a {
    font-size: 40px;
    font-weight: 500;
    font-family: "Handwriting";
}

#top > header > nav > div.logo > a > img {
    margin-top: 10px;
}

/* move the theme switch button right for 20px, to make it easier for operation/click */
#top > header > nav > div.logo > div.logo-switches {
    margin-left: 20px;
}

/* move the social icons on the home page down for 50px to make space for the download button
   and make the font size responsive from 16px to 20px
*/
#top > main > article.home-info > footer > div.social-icons {
    margin-top: 20px;
    margin-bottom: -30px;
    font-size: var(--body-font-size);
}

/* adjust all elements under the social-icons div */
#top > main > article.home-info > footer > div.social-icons > * {
    line-height: 2.2;
    margin-right: 0;
}

/* adjust all svg elements under the social-icons div */
#top > main > article.home-info > footer > div.social-icons svg {
    margin-bottom: -5px;
}

/* the style of the installation button on the home page */
.responsive-button {
    margin-top: 20px;
    color: #FC6423;
    background: #fff;
    border: 2px solid #FC6423;
    opacity: 0.65;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .5s ease;
    font-weight: 700;
    font-size: 20px;
}

.responsive-button:hover {
    color: #fff;
    background: #FC6423;
    border: 2px solid #fff;
    opacity: 1;
    font-size: 24px;
}

/* the style of the share button on the home page */
.share-button {
    color: #FC6423;
    opacity: 0.65;
    display: inline-block;
    padding: 0 5px;
    border-radius: 2px;
    transition: all .5s ease;
    font-weight: 700;
}

.share-button:hover {
    font-size: 130%;
    color: #fff;
    background: #FC6423;
    opacity: 1;
}

/* make the imgs on the about page be responsive to get enlarged for 120% when the mouse cursor hovers */
#top > main > article > div > div > div > a.anchor > img {
    transition: all .8s ease;
}

#top > main > article > div > div > div > a.anchor > img:hover {
    width: 120%;
    height: 120%;
}

/* adjust the font-size of the footer */
#top > footer {
    font-size: 16px;
}

/* adjust the font color of the contact email */
#top > footer > span:nth-child(2) > a {
    color: #FC6423;
}

#producthunt_badge {
    width: 250px;
    margin-top: 50px;
}

.user_logo {
    float: left;
    display: inline;
    width: 20%;
    margin-bottom: 5px;
}

.user_logo img {
    width: calc(var(--body-font-size) * 7);
}

/* Add the style of announcement banner at the top of the site */
#announcement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    margin-top: 5px;
    margin-bottom: 10px;
}

#announcement *{
    font-size: var(--body-font-size);
    font-family: "XanhMono";
    color: #FC6423;
    background-color: #1d1e20;
}

#announcement h3{
    margin-left: var(--gap);
    margin-right: var(--gap);
}

#announcement .link{
    text-decoration: underline;
}